[Unit]
Description=Lid Guard Pre-Sleep
DefaultDependencies=no
Before=sleep.target

[Service]
Type=oneshot
ExecStart=/usr/bin/lid-sleep-guard.sh pre

[Install]
WantedBy=sleep.target
